.convidado-container {
  margin-bottom: 10px;
}

.info-container {
  display: flex;
  align-items: center;
}

.input-container, .button-container {
  margin-top: 10px;
}

.input-info {
  margin-right: 10px;
  background-color: #22C55E;
  
}

.convite-container {
  margin-top: 10px;
}
.button-wrapper {
  display: inline-block;
  margin-left: 10px; /* Adjust margin as needed */
}

input::placeholder {
  color: #FFFFFF;
}

